*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(20, 20, 82);
    color: white;
    padding: 20px;
}

.titulo{ 
    color: orange;
    text-align: center;
}

label{
    color: white;
}

h2{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 50px;   
    align-items: center;
    justify-content: center;
}

div{
    background-color: rgb(50, 50, 133);
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: rgba(191, 226, 255, 0.35) 0px 5px 15px;
}

label{
    margin-bottom: -10px;
    text-align: left;
    width: 100%;
    padding: 5px;
}

input{
    width: 100%;
    border-radius: 999px;
    padding: 7px;
    text-align: center;
    font-size: medium;
}

button{
    width: 105.5%;
    border-radius: 999px;
    padding: 5%;
    background-color: transparent;
    border: none;
    border: 2px solid white;
    color: white;
    font-size: 18px;
    transition: all 200ms linear;
}

button:hover{
    cursor: pointer;
    color: rgb(0, 0, 49);
    background-color: white;
}

p{
    font-size: 30px;
    font-weight: 700;
}