:root {
    --blackBlue: ##FC7B8F;
    --darkBlue: #0c214e;
    --orange: #fca311;
    --grey: #e5e5e5;
    --white: #ffffff;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: "Google Sans", sans-serif;
    scroll-behavior: smooth;
}

body {
    color: white;
}

nav {
    position: fixed;
    background-color: var(--dark);
    color: white;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    box-shadow: var(--blackBlue) 0px 5px 15px;
    animation: fromTop 1s ease-in-out;
    z-index: 999;
}

nav a {
    color: var(--orange);
    text-decoration: none;
    opacity: 0.8;
}

nav a:hover {
    cursor: pointer;
    opacity: 1;
    text-decoration: underline;
    color: var(--white);
}

@keyframes fromTop {
    0% {
        transform: translateY(-100px);
    }

    100% {
        transform: translateY(0px);
    }
}

section {
    min-height: 100vh;
    padding-top: 50px;
    text-decoration: underline;
}

#s1 {
    height: 80vh;
    min-height: 80vh;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-image: url(./Images/LPbackground.jpg);
}

.imgDiv {
    background-color: palegoldenrod;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 999px;
    overflow: hidden;
    box-shadow: 0px 3px 10px yellowgreen;
    border: 6px solid green;
}

.imgStyle {
    width: 100%;
    height: auto;
}

.imgStyle:hover {
    filter: grayscale(0);
    transform: scale(1.1);
}

.textDiv {
    background-color: #008000;
    width: 600px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 0px 3px 10px yellowgreen;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.textDiv h2 {
    font-size: 30px;
}

.textDiv p {
    font-size: 20px;
}

#s2 {
    color: white;
    background-image: url(./Images/1920x1080\ rickandmorty.jpg);
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#s2 h1 {
    font-size: 56px;
    text-shadow: 0px 3px 10px var(--orange);
}

.wrapCards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 50px;
}

.cards {
    border: 3px solid white;
    padding: 20px;
    background-color: #00000084;
    border-radius: 20px;
    transition: all 200ms linear;
}

.cards:hover {
    box-shadow: 0px 3px 30px grey;
}

.cards h3 {
    color: var(--orange);
    text-shadow: 0px 3px 10px var(--orange);
    font-size: 26px;
    margin-bottom: 20px;
}

.cards a {
    color: var(--orange);
    font-style: italic;
}

hr {
    margin-bottom: 20px;
    margin-top: 5px;
}

#s3 {
    background-image: url(./Images/portal.jpg);
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;   
    min-height: 100vh;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 70px;
}

.videoStyle{
    width: 800px;
    height: 420px;
    border-radius: 20px;
    box-shadow: 0px 3px 10px black;
}

#s4 {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 70px;
    background-color: #306F19;
    color: white;
    padding: 100px;
    text-decoration: none;
}

.formulario{
   width: 220px;
   height: auto;
   background-color: var(--blackBlue);
   border: 2px solid var(--orange);
   padding: 20px;
   border-radius: 20px;
}

.formulario label{
    font-size: 16px;
}

.formulario input, .formulario textarea{
    padding: 10px;
    width: 90%;
}

textarea{
    max-width: 200px;
    min-width: 200px;
    max-height: 100px;
    min-height: 100px;
}

.formulario button{
    padding: 10px;
    width: 100%;
    opacity: 0.7;
    transition: all 200ms ease-in-out;
}

.formulario button:hover{
    cursor: pointer;
    opacity: 1;
}


footer{
    background-color: var(--grey);
    height: 50px;
    box-shadow: 0px 3px 10px black;
    color: var(--light);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

footer img{
    width: 30px;
    height: auto;
    border-radius: 999px;
    transition:all 300ms ease-in-out;
}

footer img:hover{
    cursor: pointer;
    transform: scale(1.1) translateY(-5px);
    box-shadow: 0px 3px 10px black;
}

@media (width <=1000px) {
    #s1 {
        height: auto;
        min-height: 85vh;
    }
    .textDiv {
        width: 100%;
    }
 
    .textDiv h2 {
        font-size: 30px;
    }
 
    .textDiv p {
        font-size: 20px;
    }
 
    .imgDiv {
        margin-top: 50px;
    }

    #s3{
        padding: 20px;
    }
    .videoStyle{
        width: 100%;
        height: auto;
        min-height: 300px;
        max-height: 400px;
    }
}